<h2>Informant Rails Example</h2>

<%= form_for TestObject.new do |f| %>
  <%= f.hidden_field :name, value: 'Valid Name' %>
  <input type='submit' value='Test Successful Validation' />
<% end %>

<br/><br/>

<%= form_for TestObject.new do |f| %>
  <%= f.hidden_field :name, value: '' %>
  <input type='submit' value='Test Unsuccessful Validation' />
<% end %>
