<h2>Logged Successful Validation</h2>

<p>
  Sign in to
  <a href='https://console.informantapp.com'>the Informant</a>
  and you should see a successful submission on your dashboard.
</p>

<p><a href='/'>Go Back</a></p>
