<h2>Logged Unsuccessful Validation</h2>

<p>
  Sign in to
  <a href='https://console.informantapp.com'>the Informant</a>
  and you should see the error on your dashboard.
</p>

<p><a href='/'>Go Back</a></p>
